In [54]:
import pandas as pd
from sqlalchemy import create_engine
import os

In [64]:
conn_url = 'postgresql://postgres:123@localhost/sql'
engine = create_engine(conn_url)

In [66]:
# Create a function to create the tables from the SQL schema
def create_tables():
    create_table_queries = """
    CREATE TABLE aisles (
        aisle_num INT PRIMARY KEY,
        aisle_name VARCHAR(255) NOT NULL
    );

    CREATE TABLE customers (
        customer_id INT PRIMARY KEY,
        customer_name VARCHAR(255) NOT NULL,
        customer_category VARCHAR(255)
    );

    CREATE TABLE employees (
        employee_id INT PRIMARY KEY,
        employee_name VARCHAR(255) NOT NULL,
        shift VARCHAR(255),
        store_id INT,
        FOREIGN KEY (store_id) REFERENCES stores(store_id)
    );

    CREATE TABLE inventory (
        inventory_id INT PRIMARY KEY,
        product_id INT,
        store_id INT,
        quantity_in_stock INT,
        FOREIGN KEY (product_id) REFERENCES products(product_id),
        FOREIGN KEY (store_id) REFERENCES stores(store_id)
    );

    CREATE TABLE orders (
        order_id INT PRIMARY KEY,
        order_date DATE NOT NULL,
        inventory_id INT,
        quantity_ordered INT,
        vendor_id INT,
        FOREIGN KEY (inventory_id) REFERENCES inventory(inventory_id),
        FOREIGN KEY (vendor_id) REFERENCES vendors(vendor_id)
    );

    CREATE TABLE products (
        product_id INT PRIMARY KEY,
        product_name VARCHAR(255) NOT NULL,
        aisle_num INT,
        FOREIGN KEY (aisle_num) REFERENCES aisles(aisle_num)
    );

    CREATE TABLE promos (
        promo_id INT PRIMARY KEY,
        promotion_type VARCHAR(255) NOT NULL,
        season VARCHAR(255)
    );

    CREATE TABLE ratings (
        rating_id INT PRIMARY KEY,
        rating INT NOT NULL,
        store_id INT,
        FOREIGN KEY (store_id) REFERENCES stores(store_id)
    );

    CREATE TABLE returns (
        return_id INT PRIMARY KEY,
        transaction_id INT,
        product_id INT,
        store_id INT,
        return_date DATE NOT NULL,
        Reason VARCHAR(255),
        FOREIGN KEY (transaction_id) REFERENCES transactions(transaction_id),
        FOREIGN KEY (product_id) REFERENCES products(product_id),
        FOREIGN KEY (store_id) REFERENCES stores(store_id)
    );

    CREATE TABLE sales (
        sale_id INT PRIMARY KEY,
        transaction_id INT,
        store_id INT,
        product_id INT,
        transaction_date DATE NOT NULL,
        FOREIGN KEY (transaction_id) REFERENCES transactions(transaction_id),
        FOREIGN KEY (store_id) REFERENCES stores(store_id),
        FOREIGN KEY (product_id) REFERENCES products(product_id)
    );

    CREATE TABLE stores (
        store_id INT PRIMARY KEY,
        city VARCHAR(255),
        store_type VARCHAR(255),
        rating INT
    );

    CREATE TABLE transactions (
        transaction_id INT PRIMARY KEY,
        total_items INT,
        total_cost DECIMAL(10, 2),
        transaction_date DATE NOT NULL,
        store_id INT,
        discount_applied VARCHAR(255),
        promo_id INT,
        payment_method VARCHAR(255),
        customer_id INT,
        FOREIGN KEY (store_id) REFERENCES stores(store_id),
        FOREIGN KEY (promo_id) REFERENCES promos(promo_id),
        FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
    );

    CREATE TABLE vendors (
        vendor_id INT PRIMARY KEY,
        vendor_name VARCHAR(255) NOT NULL
    );
    """
    with engine.connect() as conn:
        conn.execute(create_table_queries)

In [68]:
import pandas as pd
from sqlalchemy import create_engine

conn_url = 'postgresql://postgres:123@localhost/sql'  # Database connection URL
file_path = '/Users/chenyizhen/Desktop/data/aisles.csv'  # Path to your CSV file

df = pd.read_csv(file_path)

engine = create_engine(conn_url)
df.to_sql('aisles', con=engine, if_exists='replace', index=False)


print("Data inserted successfully!")

Data inserted successfully!

In [70]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Set up connection URL and file path
conn_url = 'postgresql://postgres:123@localhost/sql'  # Database connection URL
customers_file_path = '/Users/chenyizhen/Desktop/data/customers.csv'  # Path to your customers CSV file

# Step 2: Load the CSV into a DataFrame (renaming to a more descriptive variable)
customers_df = pd.read_csv(customers_file_path)

# Step 3: Create a SQLAlchemy engine for PostgreSQL
engine = create_engine(conn_url)

# Step 4: Insert data into the PostgreSQL table
customers_df.to_sql('customers', con=engine, if_exists='replace', index=False)

# Step 5: Confirmation message
print("Customer data inserted successfully!")

Customer data inserted successfully!

In [71]:
employees_file_path = '/Users/chenyizhen/Desktop/data/employees.csv'
employees_df = pd.read_csv(employees_file_path)
engine = create_engine(conn_url)
employees_df.to_sql('employees', con=engine, if_exists='replace', index=False)
print("Data inserted successfully!")

Data inserted successfully!

In [72]:
inventory_df = pd.read_csv('/Users/chenyizhen/Desktop/data/inventory.csv')
inventory_df.to_sql('inventory', con=engine, if_exists='replace', index=False)
print("Inventory data inserted successfully!")

Inventory data inserted successfully!

In [73]:
orders_df = pd.read_csv('/Users/chenyizhen/Desktop/data/orders.csv')
orders_df.to_sql('orders', con=engine, if_exists='replace', index=False)
print("Orders data inserted successfully!")

Orders data inserted successfully!

In [74]:
products_df = pd.read_csv('/Users/chenyizhen/Desktop/data/products.csv')
products_df.to_sql('products', con=engine, if_exists='replace', index=False)
print("Products data inserted successfully!")

Products data inserted successfully!

In [80]:
promos_df = pd.read_csv('/Users/chenyizhen/Desktop/data/promos.csv')
promos_df.to_sql('promos', con=engine, if_exists='replace', index=False)
print("Promos data inserted successfully!")

Promos data inserted successfully!

In [82]:
ratings_df = pd.read_csv('/Users/chenyizhen/Desktop/data/ratings.csv')
ratings_df.to_sql('ratings', con=engine, if_exists='replace', index=False)
print("Ratings data inserted successfully!")

Ratings data inserted successfully!

In [83]:
returns_df = pd.read_csv('/Users/chenyizhen/Desktop/data/returns.csv')
returns_df.to_sql('returns', con=engine, if_exists='replace', index=False)
print("Returns data inserted successfully!")

Returns data inserted successfully!

In [86]:
sales_df = pd.read_csv('/Users/chenyizhen/Desktop/data/sales.csv')
sales_df.to_sql('sales', con=engine, if_exists='replace', index=False)
print("Sales data inserted successfully!")

Sales data inserted successfully!

In [88]:
stores_df = pd.read_csv('/Users/chenyizhen/Desktop/data/stores.csv')

# Ensure 'store_id' is unique by dropping duplicates or setting unique values
stores_df = stores_df.drop_duplicates(subset=['store_id'])

# Insert data into the stores table
stores_df.to_sql('stores', con=engine, if_exists='replace', index=False)
print("Stores data inserted successfully!")

Stores data inserted successfully!

In [92]:
transactions_df = pd.read_csv('/Users/chenyizhen/Desktop/data/transactions.csv')
transactions_df.to_sql('transactions', con=engine, if_exists='replace', index=False)
print("Transactions data inserted successfully!")

Transactions data inserted successfully!

In [90]:
vendors_df = pd.read_csv('/Users/chenyizhen/Desktop/data/vendors.csv')
vendors_df.to_sql('vendors', con=engine, if_exists='replace', index=False)
print("Vendors data inserted successfully!")

Vendors data inserted successfully!